<h2> Add new post </h2>

<p> 

<form action="/new" method="POST" role="form">
	<textarea name="content" class="form-control" rows="5" placeholder="Type post text here"></textarea>
	  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Your name" name="author">
  </div>
	<br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>